{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-body text-center p-5">

        <h1 class="mb-4">
            Food Saver 剩食分享平台
        </h1>

        <p class="lead">
            讓即將被浪費的食物重新創造價值
        </p>

        <hr>

        <p>
            透過 Food Saver，
            商家可以分享剩食，
            民眾可以預約領取，
            一起減少食物浪費。
        </p>

        <a href="/login"
           class="btn btn-success btn-lg">
            立即開始
        </a>

    </div>

</div>

{% endblock %}