{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
    我的預約
</h2>

<div class="card shadow" style=" height: 60vh;">

    <div class="card-body">

        {% if reservations %}

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>預約編號</th>
                    <th>食品名稱</th>
                    <th>購買數量</th>
                    <th>狀態</th>

                </tr>

            </thead>

            <tbody>

            {% for r in reservations %}

                <tr>

                    <td>{{ r.id }}</td>

                    <td>{{ r.food_name }}</td>

                    <td>{{ r.quantity }}</td>

                    <td>{{ r.status }}</td>

                    <td class="card-footer bg-white" style="width: 150px;">

                        <a href="/user/cancel_reservation/{{ r.id }}"
                        style="max-width: 130px;"
                        class="btn btn-success w-100">
                            取消預約
                        </a>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

        {% else %}

            <div class="alert alert-warning">

                尚無預約紀錄

            </div>

        {% endif %}

    </div>
    <button class="btn btn-secondary"
            type="button"
            style="width: 100px; margin: 20px auto;"
            onclick="window.location.href='/user/dashboard'">
        返回列表
    </button>

</div>

{% endblock %}